.react-icon {
    cursor: pointer;
}   

.activity-completed:hover {
    border: 1px solid grey;
    cursor: pointer;
}

#accordion-item {
    width: 40%;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
  }

@media (max-width: 768px) {
    #accordion-item {
        width: 100%;
    }
}

.heart {
    cursor: pointer;
}

.heart-unfav {
    color: #9CA3AF;
}

.heart-fav {
    color: #EF4444;
}