
.width-card {
    width: 90%;
    max-width: 990px;
    min-width: 360px;
    margin: auto;
}

body {
    background-color: #ececec;
  }

p {
    font-family: "Lato", sans-serif;
  }

h1, h2 {
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 1000;
    font-style: normal;
  }

.react-icon {
    cursor: pointer;
}   

.activity-completed:hover {
    border: 1px solid grey;
    cursor: pointer;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
  }

#accordion-item {
    width: 100%;
}

/* body{
    background:white;
} */
.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    /* border: 1px solid #e5e9f2; */
    border-radius: .2rem;
}
.card-header:first-child {
    border-radius: calc(.2rem - 1px) calc(.2rem - 1px) 0 0;
}
.card-header {
    border-bottom-width: 1px;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    /* background-color: #fff;
    border-bottom: 1px solid #e5e9f2; */
}

.upload-button{
    color: #9ca3af;
    cursor: pointer;
}

.upload-button:hover{
    color: hsla(218, 11%, 65%, 0.75);
}



@media (max-width: 768px) {
    #accordion-item {
        width: 100%;
    }
}

.heart {
    cursor: pointer;
}

.heart-unfav {
    color: #9CA3AF;
}

.heart-fav {
    color: #EF4444;
}

.menu-options:hover {
    color: blue;
}

.menu-popover {
    color: white;
    background-color: #9CA3AF;
    border-radius: 25%;
    padding: 3px;
}

.menu-popover:hover {
    background-color: hsla(218, 11%, 65%, 0.75);
}

.deleted-item {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
}

.icon-color {
    color: rgba(222, 209, 203, 1) !important;
    transition: all 0.3s ease;
}

.icon-color:hover {
    color: #b91c1cb3 !important;
}


.custom-button {
    color: white;
    background-color: rgba(222, 209, 203, 1);
    border: 2px solid rgba(222, 209, 203, 1);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .custom-button:hover {
    color: #b91c1cb3;
    border-color: #b91c1cb3;
  }

  .no-focus:focus {
    outline: none !important;
    box-shadow: none !important;
   }

   .hero-heading {
    margin-top: 2rem;
    font-size: clamp(0.6rem, 80vw, 7rem);

    /* font-size: 6rem; */
    z-index: 1;
    pointer-events: none;
    color: rgb(177, 177, 177);
  }

  .sub-heading{
    color: #b91c1cb3;
    font-weight: 300;
    font-size: 1rem;
  }

  .no-focus::placeholder {
    color: rgba(0, 0, 0, 0.4); 

  }
