
.width-card {
    width: 90%;
    max-width: 990px;
    min-width: 360px;
    margin: auto;
}

body {
    font-family: "Lato", sans-serif;
    background-color: #eee;
  }

.react-icon {
    cursor: pointer;
}   

.activity-completed:hover {
    border: 1px solid grey;
    cursor: pointer;
}

.accordion-button:focus {
    box-shadow: none;
    outline: none;
  }

#accordion-item {
    width: 100%;
}

/* body{
    background:white;
} */
.card {
    margin-bottom: 1.5rem;
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #fff; */
    background-clip: border-box;
    /* border: 1px solid #e5e9f2; */
    border-radius: .2rem;
}
.card-header:first-child {
    border-radius: calc(.2rem - 1px) calc(.2rem - 1px) 0 0;
}
.card-header {
    border-bottom-width: 1px;
}
.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    /* background-color: #fff;
    border-bottom: 1px solid #e5e9f2; */
}

.upload-button{
    color: #9ca3af;
    cursor: pointer;
}

.upload-button:hover{
    color: hsla(218, 11%, 65%, 0.75);
}



@media (max-width: 768px) {
    #accordion-item {
        width: 100%;
    }
}

.heart {
    cursor: pointer;
}

.heart-unfav {
    color: #9CA3AF;
}

.heart-fav {
    color: #EF4444;
}

.menu-options:hover {
    color: blue;
}

.menu-popover {
    color: white;
    background-color: #9CA3AF;
    border-radius: 25%;
    padding: 3px;
}

.menu-popover:hover {
    background-color: hsla(218, 11%, 65%, 0.75);
}

.deleted-item {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
}
