.react-icon {
    cursor: pointer;
}   

.activity-completed:hover {
    border: 1px solid grey;
    cursor: pointer;
}

#accordion-item {
    width: 40%;
}

@media (max-width: 768px) {
    #accordion-item {
        width: 100%;
    }
}